* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100lvh;
    background-color: #cacaca;
    padding-top: 40px;
}

a{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: greenyellow;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 1.1em;
    margin: 10px;
    border-radius: 10px;
}


ul {
    list-style-type: none;
}

#productsList {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    padding: 30px;
    margin-bottom: 150px;   
}

#productsList li {
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.432);
    background: linear-gradient(50deg, rgba(133, 133, 133, 0.747), rgba(175, 171, 159, 0.438));
    padding: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: .1s;    
}

#productsList li:hover{
    transform: scale(1.07);
}

button{
    background: rgb(98, 209, 194);
    padding: 9px 13px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.438);
    transition: .2s;
    cursor: pointer;
}

button:hover{
    background: rgb(40, 134, 122);
}


#productsList li p {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* ---------- */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px 60px 50px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.247);
    background-color: #1c1c1c;
    color: white;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.footer button {
    border: none;
    background: rgb(90, 212, 41);
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.footer button:hover {
    background: #44c511;
}
