.checkout-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.checkout-box {
    background: #fff;
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 10px;
}

.checkout-box input {
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.checkout-box button {
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background: green;
    color: white;
    font-weight: bold;
}

#closeCheckout {
    background: #444;
}
