body {
    font-family: Arial;
    padding: 20px;
    background: #f2f2f2;
}

.orderBox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.orderBox h3 {
    margin-bottom: 10px;
}

.orderBox ul {
    padding-left: 20px;
}
